### Exercício 01 – Operações com Pandas
a) Abra o arquivo World Happiness.

b) Qual a média do score_felicidade?

c) Qual a soma do PIB?

d) Qual a soma do freedom e corrupção?

e) Há dados duplicados? Quantos? Verifique quais são eles?

f) Verifique a quantidade de dados faltantes.

g) Crie um dataframe onde os valores faltantes de score_felicidade sejam substituídos por -9999.

h) Quantas e quais são as regiões existentes nos dados?

i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior quantidade de dados? E a região com a menor quantidade?

In [4]:
# a) Abra o arquivo World Happiness.

import pandas as pd

caminhoex06 = '../mike-ferreira-python/Arquivos/world_happiness_report_2015.csv'

df = pd.read_csv(caminhoex06)

df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [17]:
# b) Qual a média do score_felicidade?

mediaFelicidade = df['happiness score'].mean()

print(f'A média é {mediaFelicidade: .2F}')

A média é  5.42

In [24]:
# c) Qual a soma do PIB?

df = df.rename(columns  = {'economy (GDP per Capita)': 'PIB'})

df['PIB'].sum()

141.37172

In [25]:
# d) Qual a soma do freedom e corrupção?
df = df.rename(columns  = {'trust (Government Corruption)': 'corrupção'})


df[['freedom','corrupção']].sum()

freedom      71.33320
corrupção    24.59645
dtype: float64

In [42]:
# e) Há dados duplicados? Quantos? Verifique quais são eles?

#Quantos valores?
print(f'Existem {df.duplicated().sum()} valores duplicados')

#Apresentar os itens 

print( f'')

print( f'Os valores duplicados são:')

df[df.duplicated()==True]

Existem 6 valores duplicados

Os valores duplicados são:

,country,region,happiness rank,happiness score,standard error,PIB,family,health (Life Expectancy),freedom,corrupção,generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

In [51]:
# f) Verifique a quantidade de dados faltantes em cada coluna

print (f'A quantidade de dados faltantes está listada abaixo por coluna')
df.isna().sum()

A quantidade de dados faltantes está listada abaixo por coluna

country                      0
region                       0
happiness rank               0
happiness score              8
standard error               1
PIB                          0
family                       0
health (Life Expectancy)     0
freedom                      0
corrupção                    0
generosity                   0
dystopia residual           14
dtype: int64

In [53]:
# g) Crie um dataframe onde os valores faltantes de score_felicidade sejam substituídos por -9999.

df = df.fillna(-9999)

df.isna().sum()

country                     0
region                      0
happiness rank              0
happiness score             0
standard error              0
PIB                         0
family                      0
health (Life Expectancy)    0
freedom                     0
corrupção                   0
generosity                  0
dystopia residual           0
dtype: int64