LISTAS

In [6]:
alunos = ['Ana','Amanda','Bruno','João']
notas =[10,9,8,7]

#Exibir o primeiro nome da lista de alunos

print(alunos[0])

#Exibir a terceira nota da lista notas
print(notas[2])

Ana
8

LISTAS (LIST) ACESSANDO ITENS

In [8]:
#Selecionar uma fatia dos dados (Amanda e Bruno)

alunos[1:3]

['Amanda', 'Bruno']

In [9]:
#Selecionar uma fatia dos dados (Bruno e João)

alunos[2:]

['Bruno', 'João']

### IDENTIFICANDO O TIPO DE INFORMAÇÃO

In [10]:
type(notas)

list

In [11]:
len(notas)

4

In [12]:
type(notas[0])

int

List(list) - Conversão para string

Para converter uma lista em STRING nós utilizamos o comando JOIN

In [13]:
supermercado = ['Batata','Óleo','Margarina','Café']

listaconvertida = ';'.join(supermercado)

print(listaconvertida)

print(type(listaconvertida))

lista= listaconvertida.split(';')
print (lista)
print(type(lista))

Batata;Óleo;Margarina;Café
<class 'str'>
['Batata', 'Óleo', 'Margarina', 'Café']
<class 'list'>

### Tuples (Tuple)

- Criamos utilizando parenteses

- Separamos os elementos por vingulas

- Após sua definição, não podemos alterar sua estrutura

In [ ]:
valores = (90,79,54,32,21)
pontos = (100,94.05,86.08,62)

print(type(valores))
print(type(pontos))

valores[0] = 30

<class 'tuple'>
<class 'tuple'>

###TUPLAS (TUPLE) - OUTROS EXEMPLOS

In [4]:
my_list = [1,2] #CRIANDO UMA LISTA

my_tuple = (1,2) #CRIANDO UMA TUPLA

# ALTERANDO O ELEMENTO DA POSIÇÃO 1 DA LISTA
# LISTAS PERMITEM A SUA ALTERAÇÃO

my_list[0] = 10

print(my_list)

# ALTERAR UM ELEMENTO DE UMA TUPLA:

try:

    my_tuple[1]=3

except TypeError:

    print("Não é possível modificar uma tupla")

[10, 2]
Não é possível modificar uma tupla

### CRIANDO UMA FUNÇÃO COM TUPLAS

In [8]:
def sum_and_product (x,y):
    
    return (x+y),(x*y)

In [9]:
sum_and_product (10,5)

(15, 50)

DICIONÁRIOS (DICT)

Dict é um tipo de dado muito flexível do Python.
Eles são utilizados para agrupar elementos através da estrutura de chave e valor,
onde a chave é o primeiro elemento seguido por dois pontos e pelo valor.
Vamos ver alguns exemplos:

In [14]:
altura = {'AMANDA':1.65,'ANA':1.60,'JOÃO':1.50}
peso ={'AMANDA':60,'ANA':50,'JOÃO':100}

print(type(altura))
print(type(peso))

#Acessar informações do dicionario

print(altura["ANA"])
print(peso["ANA"])

<class 'dict'>
<class 'dict'>
1.6
50