Exercício 01 – Manipulando dataframes com Pandas.
a) Abra o arquivo world_happiness_report_2015.csv e o aloque em um dataframe.
b) Verifique o cabeçalho e o final do dataframe.
c) Quais as colunas desse dataframe?
d) Quais os tipos de dados temos no dataframe?
e) Há valores faltantes ou nulos? Em quais colunas?
f) Renomeie as variáveis como segue:
g) Quais os valores médios de expect_vida? E o valor mediano? E o máximo da
variável PIB?

In [32]:
### Importar a biblioteca carregar o arquivo e alocalo em um dataframe

## a) ABRIR ARQUIVO

import pandas as pd

caminho01 = "C:\\Users\\FIC\\Documents\\mike-ferreira-python\\Arquivos\\world_happiness_report_2015.csv"

df = pd.read_csv(caminho01)

## b) CABEÇALHO E FINAL

df.head()
df.tail()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

In [31]:
## c) d) e e) COLUNAS, TIPOS DE DADOS E VALORES NULOS

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contry             164 non-null    object
 1   region             164 non-null    object
 2   rank_felicidade    164 non-null    int64
 3   score_felicidade   156 non-null    float64
 4   standard_error     163 non-null    float64
 5   PIB                164 non-null    float64
 6   family             164 non-null    float64
 7   expect_vida        164 non-null    float64
 8   freedom            164 non-null    float64
 9   corrupção          164 non-null    float64
 10  generosity         164 non-null    float64
 11  dystopia residual  150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

In [35]:
## f) Renomeando as colunas


df.columns=['contry','region','rank_felicidade','score_felicidade','standard_error','PIB','family','expect_vida','freedom','corrupção','generosity','dystopia residual']

df.head()

,contry,region,rank_felicidade,score_felicidade,standard_error,PIB,family,expect_vida,freedom,corrupção,generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [36]:
## g) Quais os valores médios de expect_vida? E o valor mediano? E o máximo da variável PIB?

df.describe()

,rank_felicidade,score_felicidade,standard_error,PIB,family,expect_vida,freedom,corrupção,generosity,dystopia residual
count,164.000000,156.000000,163.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,150.000000
mean,77.018293,5.424487,0.047692,0.862023,1.000812,0.638187,0.434959,0.149978,0.239615,2.128909
std,46.699860,1.212568,0.017110,0.404519,0.272449,0.246327,0.152201,0.124201,0.128053,0.563160
min,1.000000,2.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,35.750000,4.561250,0.036780,0.579618,0.863468,0.460545,0.331247,0.063010,0.152017,1.811778
50%,76.500000,5.260500,0.043940,0.920510,1.038145,0.705930,0.440745,0.110690,0.217155,2.120700
75%,117.250000,6.422000,0.052335,1.190585,1.226987,0.814975,0.557190,0.189380,0.319570,2.474890
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140